html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: $basic-font;
  font-weight: 500;
  font-size: 12px;
  color: $primary-black-color;

  background-color: $primary-white-color;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 70px;
  flex-grow: 1;

  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
