<header>
    <div class="container header">
        <nav class="main-nav">
            <a href="/" class="logo">
                <img src="./images/film-icon.svg" alt="картинка лого">
                <span class="logo-text">Filmoteka</span>
            </a>
            <ul class="pages-list">
                <li><a href="" class="page-link current">home</a></li>
                <li><a href="./my-library" class="page-link">my library</a></li>
            </ul>
        </nav>
        <div class="search-form">
            <label for="">
                <input type="text" placeholder="Поиск фильмов" autofocus>
            </label>
            <span class="search-icon"></span>
        </div>
        <p class="error-text">Search result is not successful. Enter the correct movie name.</p>
    </div>
</header>
<main>
    <section class="cards-content">
        <div class="container content">
            <h1 class="visually-hidden">Секция фильмов</h1>
            <ul class="js-cards-markup">
                <!-- <li>
                    <a href="" class="card-link">
                        <img src="./images/header-bg.jpg" alt="картинка фильма">
                        <div class="descr">
                            <h2 class="film-name">ghfgh</h2>
                            <ul>
                                <li class="film-genre">fgfth | </li>
                                <li class="film-year">2020</li>
                            </ul>
                        </div>
                    </a>
                </li> -->

            </ul>
        </div>
    </section>
</main>