<header>
  <div class="header">
    <nav class="main-nav">
      <a href="./index.html" class="logo">
        <img src="./images/film-icon.svg" alt="картинка лого" />
        <span class="logo-text">Filmoteka</span>
      </a>
      <ul class="pages-list">
        <li><a href="./index.html" class="page-link current">home</a></li>
        <li><a href="./my-library.html" class="page-link">my library</a></li>
      </ul>
    </nav>
    <div class="search-form">
      <label for="">
        <input type="text" placeholder="Поиск фильмов" autofocus />
      </label>
      <span class="search-icon"></span>
    </div>
    <p class="error-text">
      Search result is not successful. Enter the correct movie name.
    </p>
  </div>
</header>
