<main>
    <section class="cards-content">
        <div class="container content">
            <h1 class="visually-hidden">Секция фильмов</h1>
            <ul class="js-cards-markup">
                <!-- <li>
                    <a href="" class="card-link">
                        <img src="./images/header-bg.jpg" alt="картинка фильма">
                        <div class="descr">
                            <h2 class="film-name">ghfgh</h2>
                            <ul>
                                <li class="film-genre">fgfth | </li>
                                <li class="film-year">2020</li>
                            </ul>
                        </div>
                    </a>
                </li> -->

            </ul>
        </div>
    </section>
</main>