body {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-black-color;

  background-color: $primary-white-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
