.cards-content {
  padding: 60px 0px;
  min-height: 60vh;
}

.js-cards-markup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}
.js-cards-markup > li {
  width: calc(100% - 30px);
  margin: 15px;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 90px) / 3);
    display: flex;
    justify-content: center;
  }
}
.js-cards-markup > li img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}
.descr ul {
  display: flex;
}
.descr .film-name {
  font: 500 12px/1.33 'Roboto', sans-serif;
  text-transform: uppercase;
  color: $primary-black-color;
}
.descr ul {
  font: 500 12px/1.2 'Roboto', sans-serif;
}
.descr .film-genre {
  margin-right: 5px;
  position: relative;
}
