body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  background-color: $primary-bg-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
